alabaster==0.7.12
Babel==2.9.1
beautifulsoup4==4.11.1
boto3==1.24.9
botocore==1.27.9
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
chart-studio==1.1.0
click==8.0.4
colorama==0.4.4
colorlover==0.3.0
dash==2.3.1
dash-auth==1.4.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
docutils==0.17.1
Flask==2.0.3
Flask-Compress==1.11
Flask-SeaSurf==1.1.1
idna==3.3
imagesize==1.3.0
itsdangerous==2.1.2
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
lxml==4.8.0
MarkupSafe==2.0.1
multitasking==0.0.10
numpy==1.22.1
oauthlib==3.2.0
packaging==21.3
pandas==1.4.0
pandas-datareader==0.10.0
plotly==5.7.0
Pygments==2.11.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.3
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
sklearn==0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tenacity==8.0.1
threadpoolctl==3.0.0
tweepy==4.8.0
ua-parser==0.10.0
urllib3==1.26.8
Werkzeug==2.0.3
yfinance==0.1.70
